.navbar {
  background: #021c3a;
  color: white;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
