body {
  background-image: url("./assets/Luxury Navy Background.jpg");

  background-size: cover;
  background-position: center;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  z-index: -1;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
